* {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* prodotti */
.prodotti{
    float: left;
    width: calc(100% / 3);
    position: relative;
    cursor: pointer;
}
/* img primo piano */
.primaimg{
    height: 450px;

}
/* img secondaria */
.secondaimg{
    height: 450px;
    display: none;
    
}
.hover:hover .primaimg{
    display: none;
}
.hover:hover .secondaimg{ 
    display:block;
}
/* cuore */
.cuore{
    position:relative;
    bottom: 10px;
    width: 100%;
    right: -300px;
    text-align: center;
    top: -410px;
    padding:10px;
    background-color: white;
}
/* prezzo scontato */
.prezzo-scontato{
    color: red;
}
/* prezzo iniziale */
.prezzo{
    color: black;
    text-decoration: line-through;
}
/* sconto */
.discount{
    padding: 5px;
    font-size: 10px;
    background-color: red;
    color: white;
    position: absolute;
    top: 410px;
    right: 390px;
}

.sostenibilita{
    padding: 5px;
    font-size: 10px;
    background-color:green;
    color: white;
    position:absolute;
    top: 410px;
    right: 325px;
}

.sostenibilita2{
    padding: 5px;
    font-size: 10px;
    background-color:green;
    color: white;
    position:absolute;
    top: 410px;
    right: 360px;
}
